.navbar {
  background-color: #333;
  padding: 16px;
}

.menu {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  align-items: center;
  list-style: none;
  color: white;
  font-size: 18px;
}

.ActiveLi {
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
  background-color: blueviolet;
  color: white;
  padding: 25px 50px;
  border-radius: 30px;
}

.UnactiveLi {
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 25px 50px;
  border-radius: 30px;
}
