.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 140px 0px;
}
.card {
  width: 600px;
  display: flex;
  padding: 20px;
  box-shadow: 0 0 0 5px rgb(71, 111, 111);
  margin: 0 20px 20px 20px;
}

.card-image {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}
